* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
    min-height: 65vh;
    width: 90%;
    max-width: 30rem;
    padding: 1rem;
    text-align: center;

}

img {
    border-radius: 1rem;
    margin-bottom: 2rem;
    height: 58%;
    width: 100%;
}

.container h1 {
    font-family: "Outfit", sans-serif;
    font-size: clamp(1.3rem, 1.7vw, 2rem);
    font-weight: 00;
    padding:  0 1rem;
    margin-bottom: 2rem;
}

.container p {
    padding:  0 1.8rem 2rem 1.8rem;
    color: hsl(216, 15%, 48%);
    font-family: "Outfit", sans-serif;
    font-size:clamp(1.1rem, 2.5vw, 1.5rem);
    font-weight: 400;
}